body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: red; */
    overflow: hidden;
}

.pDark{
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    /* align-items: center; */

}
.pDark img{
    width: 1000px;
    min-width:375px ;
    text-align: center;
    position: fixed;
    transition: 1s ease-in-out;
    top: 0;
    /* z-index: 3; */
    
}
.showOp{
    z-index: 3;
    opacity: 1;
    /* width: 1200px; */
}

.unshowOp{
    z-index: 0;
opacity: 0;
}